[submodule "third-party/catch2"]
	path = third-party/catch2
	url = https://github.com/bigiansen/catch2
[submodule "third-party/winconw"]
	path = third-party/winconw
	url = https://github.com/bigiansen/winconw
